@font-face {
	font-family: "sws-icon";
	/* Project id 2545743 */
	src: url('@/static/iconfont.eot');
	/* IE9 */
	src: url('@/static/iconfont.woff') format('woff'),
		url('@/static/iconfont.ttf') format('truetype'),
		url('@/static/iconfont.svg') format('svg');
}

.sws-icon {
	font-family: "sws-icon" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sws-icon-gongshicaijibaobiao:before {
	content: "\e6a8";
}

.sws-icon-xiehuowangong:before {
	content: "\e6a6";
}

.sws-icon-cheliangruyuan:before {
	content: "\e6a7";
}

.sws-icon-cheliangxiehuo:before {
	content: "\e6a5";
}

.sws-icon-yuetaiguanli:before {
	content: "\e6a0";
}

.sws-icon-pingfen:before {
	content: "\e69f";
}

.sws-icon-jixiaojilu:before {
	content: "\e6a2";
}

.sws-icon-jixiaopingfen:before {
	content: "\e6a3";
}

.sws-icon-jixiaoshenhe:before {
	content: "\e6a4";
}

.sws-icon-pingfenbz:before {
	content: "\e6a1";
}

.sws-icon-fourmbianhua:before {
	content: "\e69c";
}

.sws-icon-cellUpDown:before {
	content: "\e69b";
}

.sws-icon-cangku:before {
	content: "\e698";
}

.sws-icon-fuliaozhijushangxian:before {
	content: "\e714";
}

.sws-icon-wendu:before {
	content: "\eb37";
}

.sws-icon-xiajia:before {
	content: "\e6ce";
}

.sws-icon-shangjia:before {
	content: "\e6d6";
}

.sws-icon-houduceshi:before {
	content: "\e696";
}

.sws-icon-jiechudianzu:before {
	content: "\e697";
}

.sws-icon-fenrong:before {
	content: "\e690";
}

.sws-icon-huacheng:before {
	content: "\e694";
}

.sws-icon-dianchirongliang:before {
	content: "\e695";
}

.sws-icon-dengdaiqueren:before {
	content: "\e68e";
}

.sws-icon-shebeidianjian1:before {
	content: "\e68f";
}

.sws-icon-wentitaizhang:before {
	content: "\e68c";
}

.sws-icon-shujutaizhang:before {
	content: "\e68d";
}

.sws-icon-gunya:before {
	content: "\e689";
}

.sws-icon-reya:before {
	content: "\e68a";
}

.sws-icon-rerong:before {
	content: "\e6bc";
}

.sws-icon-shuangmiantubu:before {
	content: "\e685";
}

.sws-icon-chaoshengbohanjie:before {
	content: "\e686";
}

.sws-icon-fentiao:before {
	content: "\ebc3";
}

.sws-icon-moqie:before {
	content: "\e688";
}

.sws-icon-fenlan:before {
	content: "\ec7f";
}

.sws-icon-caipian:before {
	content: "\e68b";
}

.sws-icon-dajiao:before {
	content: "\e788";
}

.sws-icon-danmiantubu:before {
	content: "\ea32";
}

.sws-icon-xiayibu:before {
	content: "\e684";
}

.sws-icon-dangqianbuzhou:before {
	content: "\e77d";
}

.sws-icon-bufuhexiang:before {
	content: "\e683";
}

.sws-icon-jiaoban:before {
	content: "\eb2d";
}

.sws-icon-wushuju:before {
	content: "\e682";
}

.sws-icon-paibanbiangeng:before {
	content: "\e69e";
}

.sws-icon-shujuceshi:before {
	content: "\e680";
}

.sws-icon-wuliaoxinxi:before {
	content: "\e681";
}

.sws-icon-producttraceability:before {
	content: "\e678";
}

.sws-icon-xiujia:before {
	content: "\e693";
}

.sws-icon-paibanchakan:before {
	content: "\e679";
}

.sws-icon-shenpijindu:before {
	content: "\e6ef";
}

.sws-icon-waibugongshi:before {
	content: "\e67f";
}

.sws-icon-zhuanjiagongshi:before {
	content: "\e675";
}

.sws-icon-gongshishenpi:before {
	content: "\e6ee";
}

.sws-icon-neibugongshi:before {
	content: "\eab6";
}

.sws-icon-fuzhugongshi:before {
	content: "\e7a9";
}

.sws-icon-beidonggongshi:before {
	content: "\ea46";
}

.sws-icon-weishengjian:before {
	content: "\e677";
}

.sws-icon-heshui:before {
	content: "\e6ca";
}

.sws-icon-chouyan:before {
	content: "\e67a";
}

.sws-icon-denglu-copy:before {
	content: "\e676";
}

.sws-icon-yiqiandao:before {
	content: "\e699";
}

.sws-icon-beipinfafang:before {
	content: "\e998";
}

.sws-icon-icon_bangzhuwendang:before {
	content: "\e674";
}

.sws-icon-account1:before {
	content: "\e672";
}

.sws-icon-Password:before {
	content: "\e673";
}

.sws-icon-gerenqiandao:before {
	content: "\e670";
}

.sws-icon-gerenqiantui:before {
	content: "\e671";
}

.sws-icon-yangpingfenlei:before {
	content: "\e66f";
}

.sws-icon-ceshixiangmu:before {
	content: "\e8ad";
}

.sws-icon-shujuluru:before {
	content: "\e7c5";
}

.sws-icon-rocket:before {
	content: "\e7f7";
}

.sws-icon-jinggao:before {
	content: "\e66d";
}

.sws-icon-teshutezheng:before {
	content: "\e66c";
}

.sws-icon-down:before {
	content: "\e669";
}

.sws-icon-wenjianyixuexi:before {
	content: "\e667";
}

.sws-icon-up:before {
	content: "\e661";
}

.sws-icon-bg-book:before {
	content: "\e8d1";
}

.sws-icon-baogao-book:before {
	content: "\e668";
}

.sws-icon-chakanbaogao:before {
	content: "\e663";
}

.sws-icon-zongkecheng:before {
	content: "\e6c0";
}

.sws-icon-jineng:before {
	content: "\e664";
}

.sws-icon-zongshichang:before {
	content: "\e666";
}

.sws-icon-shanggui:before {
	content: "\e64b";
}

.sws-icon-xiagui:before {
	content: "\e69a";
}

.sws-icon-bianji:before {
	content: "\e8ac";
}

.sws-icon-yulan:before {
	content: "\e67e";
}

.sws-icon-shanchu:before {
	content: "\e8b6";
}

.sws-icon-xuanzhong1:before {
	content: "\e647";
}

.sws-icon-xuanzhong:before {
	content: "\e665";
}

.sws-icon-weixuanzhong:before {
	content: "\e6c9";
}

.sws-icon-close:before {
	content: "\e64d";
}

.sws-icon-zhaopian:before {
	content: "\e660";
}

.sws-icon-huancun:before {
	content: "\e723";
}

.sws-icon-danjuchaxun:before {
	content: "\e65b";
}

.sws-icon-zhongduanguanli:before {
	content: "\e65c";
}

.sws-icon-guochengjianyan:before {
	content: "\e65d";
}

.sws-icon-yufang1:before {
	content: "\e658";
}

.sws-icon-gaishantisheng:before {
	content: "\e655";
}

.sws-icon-lianjie:before {
	content: "\e65a";
}

.sws-icon-shijian:before {
	content: "\e8b8";
}

.sws-icon-renxiang:before {
	content: "\e659";
}

.sws-icon-xiaoguoqueren:before {
	content: "\e656";
}

.sws-icon-xunjianyichangxiang:before {
	content: "\e71b";
}

.sws-icon-chexiao:before {
	content: "\e652";
}

.sws-icon-suodingjiesuo:before {
	content: "\e65f";
}

.sws-icon-jianyanjieguo:before {
	content: "\e651";
}

.sws-icon-banci:before {
	content: "\e64f";
}

.sws-icon-chanpinleibie:before {
	content: "\e66e";
}

.sws-icon-bianhao:before {
	content: "\e64e";
}

.sws-icon-chaxun:before {
	content: "\e64c";
}

.sws-icon-fuzhi:before {
	content: "\e66b";
}

.sws-icon-kaiguan:before {
	content: "\e649";
}

.sws-icon-shoujianjianyan:before {
	content: "\e741";
}

.sws-icon-dot:before {
	content: "\ec1e";
}

.sws-icon-linshijiediao:before {
	content: "\e644";
}

.sws-icon-yuyin:before {
	content: "\e687";
}

.sws-icon-quanbuyidu:before {
	content: "\e631";
}

.sws-icon-gongdanxiaoxi:before {
	content: "\e67b";
}

.sws-icon-shipin:before {
	content: "\e750";
}

.sws-icon-qiehuanyonghu:before {
	content: "\e6c8";
}

.sws-icon-chakanlishi:before {
	content: "\e6c7";
}

.sws-icon-lishidianjian:before {
	content: "\e639";
}

.sws-icon-banbengengxin:before {
	content: "\e780";
}

.sws-icon-baiban:before {
	content: "\e630";
}

.sws-icon-yeban:before {
	content: "\e65e";
}

.sws-icon-radio:before {
	content: "\e62b";
}

.sws-icon-fuwuqiehuan:before {
	content: "\e633";
}

.sws-icon-dengchu:before {
	content: "\e62a";
}

.sws-icon-tishi2:before {
	content: "\e62f";
}

.sws-icon-qiantui1:before {
	content: "\e629";
}

.sws-icon-plus:before {
	content: "\e627";
}

.sws-icon-weixiuqueren:before {
	content: "\e62c";
}

.sws-icon-qiandao1:before {
	content: "\e625";
}

.sws-icon-zhanweitu:before {
	content: "\e624";
}

.sws-icon-xialaxuanze:before {
	content: "\e7a4";
}

.sws-icon-packphoto:before {
	content: "\e636";
}

.sws-icon-baoyangqueren:before {
	content: "\e623";
}

.sws-icon-lingyong:before {
	content: "\e61f";
}

.sws-icon-fafang:before {
	content: "\e620";
}

.sws-icon-guihuan:before {
	content: "\e67d";
}

.sws-icon-pandian:before {
	content: "\e730";
}

.sws-icon-lvli:before {
	content: "\e6e6";
}

.sws-icon-saomaqueren:before {
	content: "\e61d";
}

.sws-icon-shenpi:before {
	content: "\e61b";
}

.sws-icon-jieshou:before {
	content: "\e61c";
}

.sws-icon-wuliaoshenqing:before {
	content: "\e7c1";
}

.sws-icon-kuweiguanli:before {
	content: "\e662";
}

.sws-icon-batchNFC:before {
	content: "\e618";
}

.sws-icon-kuaisubaoxiu:before {
	content: "\e643";
}

.sws-icon-more:before {
	content: "\e905";
}

.sws-icon-jilu:before {
	content: "\e615";
}

.sws-icon-beijian:before {
	content: "\e764";
}

.sws-icon-shebeiweihu:before {
	content: "\e717";
}

.sws-icon-shebeiweixiu:before {
	content: "\e634";
}

.sws-icon-shebeibaoyang:before {
	content: "\e632";
}

.sws-icon-gongzhiju:before {
	content: "\e6c6";
}

.sws-icon-shebeidianjian:before {
	content: "\e619";
}

.sws-icon-shebeixunjian:before {
	content: "\e621";
}

.sws-icon-renyuanchuandaiqingkuang:before {
	content: "\e614";
}

.sws-icon-chuandaijiancha:before {
	content: "\e613";
}

.sws-icon-hengping:before {
	content: "\e63f";
}

.sws-icon-video:before {
	content: "\e626";
}

.sws-icon-zuzhi:before {
	content: "\e611";
}

.sws-icon-muban:before {
	content: "\e612";
}

.sws-icon-shangban:before {
	content: "\e6bd";
}

.sws-icon-xiaban:before {
	content: "\e6bf";
}

.sws-icon-back:before {
	content: "\e635";
}

.sws-icon-banbenxinxi:before {
	content: "\e64a";
}

.sws-icon-gonggao2:before {
	content: "\e739";
}

.sws-icon-xiaoxi:before {
	content: "\e657";
}

.sws-icon-tongzhi:before {
	content: "\e6a9";
}

.sws-icon-saoma:before {
	content: "\e610";
}

.sws-icon-weiwanchengdedianjian:before {
	content: "\e63d";
}

.sws-icon-tools:before {
	content: "\e60f";
}

.sws-icon-guoqidedianjian:before {
	content: "\e6f5";
}

.sws-icon-gonggao:before {
	content: "\e6d9";
}

.sws-icon-nfc:before {
	content: "\e60e";
}

.sws-icon-zimuo:before {
	content: "\e62e";
}

.sws-icon-zimui:before {
	content: "\e63c";
}

.sws-icon-zimul:before {
	content: "\e642";
}

.sws-icon-zimuu:before {
	content: "\e646";
}

.sws-icon-shixi:before {
	content: "\e60a";
}

.sws-icon-OK:before {
	content: "\e60b";
}

.sws-icon-NG:before {
	content: "\e60d";
}

.sws-icon-yishenpi2:before {
	content: "\e654";
}

.sws-icon-daishenpi2:before {
	content: "\e7d2";
}

.sws-icon-daishenpi:before {
	content: "\e77c";
}

.sws-icon-yishenpi:before {
	content: "\e77e";
}

.sws-icon-cunfangquyu:before {
	content: "\e66a";
}

.sws-icon-shebeibianma:before {
	content: "\e617";
}

.sws-icon-dianjianrenyuan:before {
	content: "\e640";
}

.sws-icon-shaixuan:before {
	content: "\e752";
}

.sws-icon-dinggangren:before {
	content: "\e6b8";
}

.sws-icon-danxuan:before {
	content: "\e60c";
}

.sws-icon-danxuan2:before {
	content: "\e77b";
}

.sws-icon-shenqingren:before {
	content: "\e61e";
}

.sws-icon-shenqingshiyou:before {
	content: "\e691";
}

.sws-icon-laxian:before {
	content: "\e6f4";
}

.sws-icon-saomaqiandao:before {
	content: "\e609";
}

.sws-icon-zhuguan:before {
	content: "\e6f3";
}

.sws-icon-gongxu:before {
	content: "\e71c";
}

.sws-icon-laxian2:before {
	content: "\e63e";
}

.sws-icon-shebei:before {
	content: "\e6c3";
}

.sws-icon-banzuzhang:before {
	content: "\e622";
}

.sws-icon-gongduan:before {
	content: "\e6cf";
}

.sws-icon-gongchang:before {
	content: "\e653";
}

.sws-icon-account:before {
	content: "\e608";
}

.sws-icon-wodeshenqing:before {
	content: "\ec72";
}

.sws-icon-wodekecheng:before {
	content: "\e607";
}

.sws-icon-wodejineng:before {
	content: "\e650";
}

.sws-icon-jinengtisheng:before {
	content: "\e63b";
}

.sws-icon-gerenzhognxin:before {
	content: "\e69d";
}

.sws-icon-qiehuan:before {
	content: "\e648";
}

.sws-icon-xuexijilu:before {
	content: "\e604";
}

.sws-icon-xitongtongzhi:before {
	content: "\e63a";
}

.sws-icon-xiugaimima:before {
	content: "\e605";
}

.sws-icon-woderenwu:before {
	content: "\e8a6";
}

.sws-icon-xitongtongzhi1:before {
	content: "\e6be";
}

.sws-icon-touxiang:before {
	content: "\e606";
}

.sws-icon-danjushenhe:before {
	content: "\e637";
}

.sws-icon-shezhi:before {
	content: "\e61a";
}

.sws-icon-gongzuoshichang:before {
	content: "\e6e5";
}

.sws-icon-app:before {
	content: "\e692";
}

.sws-icon-dianjian:before {
	content: "\e638";
}

.sws-icon-dianjianqueren:before {
	content: "\e603";
}

.sws-icon-dianjianbaobiao:before {
	content: "\e70f";
}

.sws-icon-renyuanzhuangtai:before {
	content: "\e7a2";
}

.sws-icon-qiandao:before {
	content: "\e80f";
}

.sws-icon-fangang:before {
	content: "\ebd9";
}

.sws-icon-ligang:before {
	content: "\ebda";
}

.sws-icon-rengangpipei:before {
	content: "\e641";
}

.sws-icon-dinggang:before {
	content: "\e645";
}

.sws-icon-ligangqueren:before {
	content: "\e616";
}

.sws-icon-daixuexi:before {
	content: "\e602";
}

.sws-icon-yixuexi:before {
	content: "\e6d5";
}

.sws-icon-jinengjuzhen:before {
	content: "\e6ec";
}

.sws-icon-sop:before {
	content: "\e73d";
}

.sws-icon-icon-category:before {
	content: "\e601";
}

.sws-icon-icon-category-copy:before {
	content: "\e965";
}

.sws-icon-keshihua1-copy:before {
	content: "\e966";
}

.sws-icon-keshihua1:before {
	content: "\e67c";
}

.sws-icon-mine:before {
	content: "\e964";
}

.sws-icon-wode-copy:before {
	content: "\e963";
}

.sws-icon-home-copy:before {
	content: "\e62d";
}

.sws-icon-home:before {
	content: "\e600";
}

.sws-icon-pad-f:before {
	content: "\e628";
}